<% if orders.empty? %>
    <table>
        <thead>
        <tr>
            <th colspan="5">No orders</th>
        </tr>
        </thead>
    </table>
<% else %>
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Final Price</th>
            <th>Status</th>
            <th>Actions</th>
            <th>Review</th>
        </tr>
        </thead>

        <tbody>
        <% orders.each do |order| %>
            <tr>
                <td><%= order.id %></td>
                <td><%= price_mask_real(order.total_price) %></td>
                <td><%= order.status %></td>
                <td>
                    <% if order.status == 'pending' %>
                        <%= link_to 'Confirm', confirm_order_path(order), method: :patch  %>
                    <% elsif order.status == 'confirmed' %>
                        <%= link_to 'cancel', cancel_order_path(order),
                            method: :put, 
                            data: { confirm: 'Are you sure?' } %>
                    <% else %>
                        No Actions Available
                    <% end %>
                </td>
                <td>
                    <% if order.status == 'confirmed' %>
                        <%= link_to 'Review', new_review_path(order.id) %>
                    <% else %>
                        No Review Available
                    <% end %>
                </td>   
            </tr>
        <% end %> 
        </tbody>
    </table>
<% end %>
