<div class="indigenius-container">

    <div class="cart">

        <% if @order.nil? || @order.order_item_ids.empty? %>

            <h3>Shopping Cart is Empty</h3>
            <br>
            <%= link_to items_path do %>
                <p class = 'indi-navegation'>Explore all our available items</p>
                <%# WORKSHOPS IMAGES %>
                <div class="carousel slide indi-carousel" data-ride="carousel" data-interval="2000" data-pause="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="<%=  cl_image_path(@items[-1].images.first.key) %>" alt="slide">
                        </div>
                    <% @items.each do |item| %> 
                            <% item.images.each_with_index do |image, index| %> 
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="<%= cl_image_path(image.key) %>" alt="slide <%= index + 1 %>">
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
                           
        <% else %>

            <h3>Shopping Cart</h3>
            <br>
            <% @order_items.each do |order_item| %>
                <div class="cart-item">
                    <%= cl_image_tag order_item.item.images.first.key%>
                    <div class="info">
                        <div>
                            <p><strong><%= order_item.item.name %></strong></p>
                            <p><strong>Price per Unit: </strong> <%= humanized_money_with_symbol(order_item.item.price) %></p>
                            <% if order_item.item.workshop %>
                                <% if order_item.workshop_date.nil? %>
                                    No dates
                                <% else %>
                                    <p><strong>Selected Dates:</strong> <%= order_item.workshop_date.start_date %>
                                        to <%= order_item.workshop_date.end_date %></p>    
                                <% end %>
                            <% else %>
                                <p><strong>Selected Quantity:</strong> <%= order_item.quantity %></p>
                            <% end %>
                        </div>
                        <div style = "text-align: center;">
                            <p class="sub-total"><strong>SubTotal: </strong> <%= humanized_money_with_symbol(order_item.price) %></p>

                            <%= link_to 'Remove', order_item,
                                                method: :delete, data: { confirm: 'Are you sure?' }, 
                                                class: 'indi-navegation' %> 
                            or
                            <%= link_to "Edit", "", id: "edit-cart-button", class: 'indi-navegation' %> 
                            item

                            <div id ='edit-cart'>
                                <% if order_item.item.workshop %>
                                    <%= render 'order_items/workshop_form', workshop: order_item, item: order_item.item %>
                                <% else %>
                                    <%= render 'order_items/product_form', product: order_item, item: order_item.item %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>  

            <h3>Total: <%= humanized_money_with_symbol(@total_price) %></h3>
            <br>
            <div class = "cart-actions">
                <%= link_to 'Choose more Items', items_path, class: "btn indi-btn" %>
                <%= link_to 'Proceed to Payment', confirm_order_path(@order), method: :patch, class: "btn indi-btn" %>
            </div>
       
        <% end %>    

    </div>
</div>
