<%# --------------------------------------- %>
<%# first page showing call to action %>
<%# --------------------------------------- %>

<%#<div class="window vh-100 amazonian-background">
</div> %>

<%= image_tag "indibanner_front.png", class: 'banner' %>
<div class="navbar-line">the border botton</div>
<%# ------------value proposition-------------- %>

<div class="value-proposition">

  <div data-aos="fade-up" data-aos-duration="2000">
    <p class="p-left">Indigenius is a <strong class ="detail">global community</strong> changing the way 
    <br>indigenous cultures are preserved.
  </div>
  <div data-aos="fade-up" data-aos-duration="2000">
    <p class="p-midle">Our goal is to help indigenous artisans
    <br>get the just price for their work</p>
  </div>
  <div data-aos="fade-up" data-aos-duration="2000">
    <p class="p-right">We value the importance of indigenous <em>savoir-fair</em>
    <br>And provide the opportunity to <strong class ="detail">contribute</strong> and <strong class ="detail">connect</strong>
    <br>with indigenous artisans all over the world</p>
  </div>
</div>

<%# --------------------------------------- %>
<%# Second page showing Workshops & Products css can be found in _container.scss %>
<%# --------------------------------------- %>
<div class="items-window">
  <div class="workshop-home-container">

    <div class="workshop-image"></div>

    <div class="workshop-home-blurb">
      <h1>Workshops</h1>
      <br>
      <br>
      <p> Get hands-on experiences from Indigenous artisans, learning their craft in a space generating the cross-pollination of cultures.</p>
      <%#<p> Explore all of our available workshops below</p>%>
      <br>
      <%=link_to "Explore all of our available workshops", items_path(true), class: "browse" %>
      <br>
      <br>
      <p class="footnote"><em>Our workshops are organized by NGOs and the artisans themselves.
      <br>All materials are provided.</em></p>
      <%#=link_to "Browse Workshops", items_path(true), class: "browse" %>

    </div>
  </div>

  <div class="product-home-container">
    <div class="product-home-blurb">
      <h1>Products</h1>
      <br>
      <br>
      <p>Purchase handmade products that have been selected and offered and by Indigenous artisans themselves.</p>
      <br>
      <%=link_to "Explore all of our available products", items_path(false), class: "browse" %>
      <br>
      <br>
      <p class="footnote"><em>100% of proceeds go directly to the artisans,
      <br>where it can be redistributed through the local community.</em></p>
    </div>
  
    <%# Carousel css can be found in _image_carousel.scss %>
    <figure class="icon-cards mt-3">
      <div class="icon-cards__content">
        <div class="icon-cards__item d-flex align-items-center justify-content-center">
          <div class="product-image" style = " background-image: url(<%=image_path 'cameroonbag.jpg' %>)" ></div>
        </div>  
        <div class="icon-cards__item d-flex align-items-center justify-content-center">

          <div class="product-image" style = " background-image: url(<%=image_path 'necklace.jpg' %>)" ></div>
        </div>   
        <div class="icon-cards__item d-flex align-items-center justify-content-center">
          <div class="product-image"></div>
        </div>     
      </div>
    </figure>
  </div>

</div>            
<%# -----------------end------------------- %>



<%# --------------------------------------- %>
<%# Third page displaying the map, css can be found in _map.scss %>
<%# --------------------------------------- %>
<div class="map-window word-background">
  <div class="map-title">Explore our locations</div>
  <div id="map"
     style="width: 80%; height: 600px;"
     data-markers="<%= @markers.to_json %>" 
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<%# -----------------end------------------- %>

<%# --------------------------------------- %>
<%# Last page with a call to action for vendors%>
<%# --------------------------------------- %>
<div class="window vh-100">
  <%= link_to new_user_session_path do %>
    <div class="container home-container">
      <h1>Do you have a product or workshop you are trying to sell?</h1>
      <p>Join the largest global community of ethically produced indigenous savoir faire</p>
    </div>
  <%end%>
</div>

<%# -----------------end------------------- %>


