<%# --------------------------------------- %>
<%# first page showing call to action %>
<%# --------------------------------------- %>
<div class="window vh-100 amazonian-background">

  
  </div>
</div>
<%# -----------------end------------------- %>

<div> <h1>Indigenius is a global community changing the way indigenous cultures are preserved and how artisans are paid for their product</h1></div>

<%# --------------------------------------- %>
<%# Second page showing Workshops & Products %>
<%# --------------------------------------- %>
<div class="items-window">
  <div class="workshop-home-container">
    <div class="workshop-image">
    </div>
    <div class="workshop-home-blurb">
      <h1>Workshops</h1>
      <br>
      <p> Get hands on instruction from an
      Indigenous artisan, learning their
      craft in a space generating the cross
      pollenation of cultures.</p>
      <p> Our workshops are organzied by NGO 
      and the artisans themselves..</p>
      <p> All materials are provided.</p>
      <p> Explore all of our available workshops below</p>
      <br>
      <%=link_to "Browse Workshops", items_path(true), class: "browse" %>

    </div>
  </div>

  <div class="product-home-container">
    <div class="product-home-blurb">
      <h1>Products</h1>
      <br>
      <p> Purchase products that have been handmade by local Indigenous
      artisans.</p>
      <br>
      <p> 100% of proceeds go to the artisans,
      where money is redistributed through the
      community.</p>
      <br>
      <p> Explore all of our available products below</p>
      <br>
      <%=link_to "Browse Products", items_path(false), class: "browse" %>
    </div>
  
    
    <figure class="icon-cards mt-3">
      <div class="icon-cards__content">
        <div class="icon-cards__item d-flex align-items-center justify-content-center">
          <div class="product-image" style = " background-image: url(<%=image_path 'cameroonbag.jpg' %>)" ></div>
        </div>  
        <div class="icon-cards__item d-flex align-items-center justify-content-center">

          <div class="product-image" style = " background-image: url(<%=image_path 'necklace.jpg' %>)" ></div>
        </div>   
        <div class="icon-cards__item d-flex align-items-center justify-content-center">
          <div class="product-image"></div>
        </div>     
      </div>
    </figure>
  </div>

</div>            
<%# -----------------end------------------- %>

<%# --------------------------------------- %>
<%# Third page displaying the map %>
<%# --------------------------------------- %>
<div class="window vh-100 word-background">
 
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">


  </div>
</div>
<%# -----------------end------------------- %>

<%# --------------------------------------- %>
<%# Last page with a call to action for vendors%>
<%# --------------------------------------- %>
<div class="window vh-100">
  <div class="container home-container">
    <h1>Do you have a product or workshop you are trying to sell?</h1>
    <p>Join the largest global community of ethically produced indigenous savoir faire</p>
  </div>
</div>

<%# -----------------end------------------- %>


