<i id="arrow" class="fas fa-chevron-down"></i>

<div class="banner">
  <%= image_tag 'indibanner_front.png', class: "banner_img" %>
</div>

<div class="home-body">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



  <div class="container mt-3">
    <%= form_tag items_path(), method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search through our databse"
        %>
        <button name="button" type="submit" class="btn indi-btn">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>

</div>
      
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
