<div class="banner">

  <%= image_tag "indibanner.jpg", class: "banner_img" %>
</div>

  <i id="arrow" class="fas fa-chevron-down"></i>

<div class="grid">

    <a href="/items.true?query=dye">
       <div class="grid_item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/tanneries.jpg)">
  <p> Natural Dyes </p> 
</div> 
</a>


<a href="/items.true?query=dye">
     <div class="grid_item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/pigment1.jpg)">
  <p>Pigment Work</p> 
</div>
</a>

<a href="/items.true?query=céramic">
       <div class="grid_item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/ceram.jpg)">
  <p>Ceramic </p> 
</div>
</a>


<a href="/items.true?query=babouch">
               <div class="grid_item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/baboouch.jpg)">
  <p> Babouche Making </p> 
</div>
</a>


<a href="/items.true?query=handloom">
               <div class="grid_item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/argan.jpg)">
  <p>Argan Oil </p> 
</div>
</a>

<a href="/items.true?query=heena">
               <div class="grid_item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/Henna1.jpg)">
  <p>Henna</p> 
</div>
</a>

<a href="/items.true?query= Pottery">
               <div class="grid_item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/tamelgreen.jpg)">
  <p>Pottery</p> 
</div>
</a>
<a href="/items.true?query= Leather">
          <div class="grid_item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/Leathergoods.jpg)">
  <p>Leather Work</p> 
</div>
</a>


</div>

<div class="grid-ecom">
 <div class="card" >
  
    
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/Vase.jpg)">

        <%= link_to "Ancient Vase  ", item_path(55), class: "btn btn-primary" %>

   
  </div>
  
</div>

 <div class="card">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/tuaregnecklace.jpg)">
<%= link_to "Tuareg Necklace  ", item_path(56), class: "btn btn-primary" %>

 

  </div>
</div>


 <div class="card">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/cameroonbag.jpg)">
<%= link_to "Cameroon Bag ", item_path(57), class: "btn btn-primary" %>

  </div>

</div>

</div>
         

<%# <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <%# <div class="search-form-control form-group"> %>
    <%# <input class="form-control string required" type="text" name="search[query]" id="search_query" /> %>
    <%# <button name="button" type="submit" class="btn btn-"> %>
      <%# <i class="fas fa-search"></i> Search %>
    <%# </button> %>
  <%# </div> %>
<%# <% end %>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     