  <%= simple_form_for item do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  placeholder: "Item Name",
                  input_html: { autocomplete: "name" } %>
      <%= f.input :description,
                  required: true,
                  placeholder: "Item Description",
                  input_html: { autocomplete: "description" } %>
      <%# f.input :price,
                  required: true,
                  placeholder: "0,00",
                  input_html: { autocomplete: "price" } %>
      <%= f.input :category,
                  required: true,
                  placeholder: "Item Category",
                  input_html: { autocomplete: "category" } %>

      <%= f.input :address,
                    required: true,
                    placeholder: "Item Address",
                    input_html: { autocomplete: "address" } %>

    

      <%if @item.workshop %>
        <%= f.input :capacity,
                    required: true,
                    placeholder: "00",
                    input_html: { autocomplete: "capacity" } %>
      <%else%>
        <%= f.input :quantity,
                    required: true,
                    placeholder: "00",
                    input_html: { autocomplete: "quantity" } %>
      <%end%>
      <%= f.input :price,
                    required: true,
                    placeholder: "00",
                    input_html: { autocomplete: "price" } %>

      <%# <%= f.input :images, 
                  as: :file, 
                  required: true,
                  input_html: { multiple: true } %> 
      <%= f.input :images, as: :file, required: true, input_html: { multiple: true, class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload photos' %>
      <%= image_tag "", width: 250, class: "hidden", id: "photo-preview" %>

    </div>
  
    <div class="form-actions">
      <%if @item.workshop%>
        <%= f.hidden_field :workshop, value: true %>
        <%# <%= render 'workshop_dates/form', workshop_date: @workshop_date%>
        <%= f.button :submit, "Save and Edit Dates", class: "indi-btn" %>
      <%else%>
        <%= f.hidden_field :workshop, value: false %> 
        <%= f.button :submit, class: "indi-btn" %>
      <%end%>
    </div>

  <% end %>
