

<h3><%= item.name %></h3>
<p><%= item.address %></p> 

<% if item.images.any? %>   

  <%= cl_image_tag(item.images.first.key, class: "img-fluid") %>
<% else %>
  <%= image_tag("tanneries.jpg", class: "img-fluid") %>
  <%= image_tag("ceram.jpg", class: "img-fluid") %>
<% end %>

