<%# this is the show page that a buyer will see when they click an item %>
<div class="container">
  <h1><%= @item.name %></h1>
  <% @item.images.each do |image| %>
      <%= image_tag(image) %>
  <% end %> 
  <p>Description: <%= @item.description %></p>
  <p>Price: <%= @item.price %></p>
  <% if @item.workshop%>
    <p>Capacity: <%= @item.capacity %></p>
  <% else %>
    <p>Quantity: <%= @item.quantity %></p>
  <% end %>
  <p>Category: <%= @item.category %></p>
  
  <% @item.workshop_dates.each do |workshop_date|%>
    <p><%="#{workshop_date.start_date} to #{workshop_date.end_date}"%></p>
  <%end%>

<% if @item.workshop?%>
    <%= render 'order_items/workshop_form', workshop: @order_item %>
<% else %>
    <%= render 'order_items/product_form', product: @order_item %>
<% end %>

<% if current_user.id == @item.user.id %>
  <%=link_to "Back to All Items", items_path%>
  <%=link_to "Back to My Listings", listings_path%> 
<%else%>
  <%=link_to "Back to All Items", items_path%>  
<%end%>

