<div class="indigenius-container">

  <div class="reviews">

    <h3>Items to Review - Order #<%= @order.id %> </h3>

    <div class="reviews-listing">
      <% @order.order_items.each do |order_item| %>
        <div class="reviews-item">
          <div>
            <h4><%= order_item.item.name %></h4>
            <%= cl_image_tag(order_item.item.images.first.key,
                width: 200, height: 200, crop: :fill)%>
          </div>
          <div class="reviews-info">
            <% if @user_reviews.include?(order_item.item.id) %>
              <div style="text-align:center;">
                <p>This item was already reviewed.</p>
                <p>Thank you for sharing your experience!</p>
                <%= link_to 'See your review here', item_path(order_item.item) %>
              </div>
            <% else %>
              <%= render 'form', review: @review, item: order_item.item %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="reviews-actions">
      <%= link_to 'Back to All Orders', orders_path, class: "indi-navegation" %>
    </div>

  </div>
  
</div>
